body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}
.cuadrado {
  border: 1px solid black;
  background-color: blue;
  width: 120px;
  height: 120px;
}
button {
  background-color: lawngreen;
  width: 120px;
  text-align: center;
  padding: 9px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 10px;
}
